.dashboard {
    display: flex;
}
.dashContainer{
    flex: 6;
    background-color: #f5f5f5;
}
.widgets {
    display: flex;
    padding: 20px;
    gap: 20px;
}
.charts {
    display: flex;
    height: 520px;
    padding: 5px 20px;
}