.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    height: 160px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lside, .rside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titled {
    font-size: 14px;
    font-weight: bold;
    color: rgb(4, 85, 165);
}
.count {
    color: rgb(4, 85, 165);
    font-size: 28px;
    text-align: center;
    font-weight: 300;
}
.link{
    width: max-content;
    font-size: 12px;
    bottom: 0;
    border-bottom: 1px solid gray;
    cursor: pointer;
    color: rgb(4, 85, 165);
}
.percentage{
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
.percentage .positive {
    color: green;
}
.percentage .negative {
    color: red;
}
.Icon{
    font-size: 28px;
    padding: 5px;
    align-self: flex-end;
    cursor: pointer;
}
