.login{
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login_container {
	width: 1000px;
	height: 600px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
#left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color: rgb(4, 85, 165);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#left h1 {
	margin: 10px;
	color: #fff;
	font-size: 40px;
	align-self: center;
}
.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}
.details {
	outline: none;
	border: none;
	width: 300px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}
#right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.control {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
.control.right{
	background-color: #3bb19b;
	color: white;
	margin: 10px;
}
.password{
    position: relative;
    left: 20px;
}
#container{
    position: relative;
}
.passwordtoggle {
    position: absolute;
    right: 50px; 
    background-color: transparent;
}
.passwordtoggle:hover{
    background-color: transparent;
}
.passwordtoggle:active{
    background-color: transparent;
}
#right .forgotpassword{
	display: flex;
	width: 100%;
	margin-left: 100px;
}
